{
  "extends": "stylelint-config-standard",
  "rules": {
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": [
          "font-smoothing"
        ]
      }
    ],
    "declaration-empty-line-before": "never",
    "rule-non-nested-empty-line-before": [
      "always", {
        "ignore": ["after-comment"]
      }
    ]
  }
}